* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%;
}

body, ul, li, p {
	list-style: none;
	font-size: 1.2rem;
}

a {
	text-decoration: none;
	color: white;
}

.header {
	background: #1d1e20;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	padding: 20px;
  }
  
  .menu {
	display: flex;
  }
  
  .menu li {
	margin-left: 10px;
  }
  
  .menu li a {
	display: block;
	padding: 10px;
  }

  .searchBar {
	margin-left: 50em;
  }